body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(84, 84, 255), violet);
    filter: blur(5px);
    -webkit-filter: blur(10px);
    z-index: 0;
}

.container {
    perspective: 1000px;
    position: relative;
    z-index: 1;
}

.card {
    width: 300px;
    height: 200px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s ease;
    -webkit-transition: transform 0.6s ease;
    -moz-transition: transform 0.6s ease;
    -ms-transition: transform 0.6s ease;
    -o-transition: transform 0.6s ease;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.card:hover {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}

.card-face h1 {
    font-size: 26px;
}

.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    color: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.card .card-face img {
    width: 70%;
    height: 100%;
    filter: drop-shadow(#ee2233 0.5rem 0.5rem 1rem);
    -webkit-filter: drop-shadow(#ee2233 0.5rem 0.5rem 1rem);
}

.card .card-front img {
    filter: drop-shadow(#f7ef0b 0.5rem 0.5rem 1rem);
    -webkit-filter: drop-shadow(#f7ef0b 0.5rem 0.5rem 1rem);
}

.card-front {
    background-color: orangered;
}

.card-back {
    background-color: #840dfb;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}