* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color: #1a1c20;
    --link-color: #4a76ee;
    --background-color: #eeeff1;
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--text-color);
    background-color: var(--background-color);
    max-width: 1400px;
    margin: 0 auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    height: 80px;

    .logo {
        color: var(--text-color);
        font-size: 22px;
        font-weight: 600;
    }

    a {
        text-decoration: none;
    }

    .icon-container {
        a {
            margin: 0px 10px;
            color: #1a1c20;

            span {
                margin-left: 5px;
            }
        }

        .email-btn {
            color: var(--background-color);
            background-color: var(--text-color);
            padding: 5px 15px;
            border-radius: 5px;
        }
    }
}

.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    margin: 50px 0;
    margin-bottom: 100px;
    gap: 40px;

    .text {
        flex: 5;

        h2 {
            font-size: 45px;
        }

        .links {
            margin-top: 25px;

            a {
                display: inline-block;
                padding: 5px 10px;
                border: 2px solid var(--link-color);
                border-radius: 5px;
                margin-right: 10px;
                margin-bottom: 10px;
                transition: .1s;
                color: var(--link-color);
                text-decoration: none;
            }
        }
    }

    .profile {
        flex: 2;
        display: flex;
        justify-content: right;

        img {
            width: 350px;
            border-radius: 50%;
        }
    }
}

.skills-section {
    padding: 0 50px;
    margin-bottom: 100px;

    h2 {
        text-align: center;
        font-size: 35px;
    }

    .text {
        text-align: center;
        margin-bottom: 20px;
    }

    .cells {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .cell {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            width: 200px;
            padding: 10px 20px;
            margin: 10px;
            border: 1.5px solid #d3d3d3;
            border-radius: 5px;

            img {
                width: 30px;
                height: 30px;
                object-fit: contain;
                border-radius: 2px;
            }

            span {
                font-size: 18px;
            }
        }
    }
}

.testimony-section {
    padding: 0 50px;
    margin-bottom: 100px;

    h2 {
        font-size: 35px;
        margin-bottom: 30px;
    }

    .group {
        display: flex;
        align-items: center;
        gap: 50px;

        .personal-details {
            text-align: center;
            flex: 2;

            img {
                width: 200px;
                aspect-ratio: 1 / 1;
                object-fit: cover;
                border-radius: 50%;
                margin-bottom: 10px;
            }

            p {
                font-weight: 600;
            }

            p:last-child {
                font-weight: normal;
            }

        }

        .text {
            flex: 8;
        }


    }
}

.contact-section {
    padding: 0 50px;
    margin-bottom: 100px;

    h2 {
        font-size: 35px;
    }

    .group {
        display: flex;
        gap: 50px;

        .text {
            flex: 1;
            margin-top: 20px;
        }

        form {
            flex: 1;
            display: flex;
            flex-direction: column;

            input,
            textarea {
                border: 2px solid var(--link-color);
                background-color: transparent;
                padding: 10px;
                margin-bottom: 15px;
                outline: none;
                resize: none;
            }

            button {
                font-size: 16px;
                color: #fff;
                background-color: var(--link-color);
                border: none;
                height: 50px;
                cursor: pointer;
                transition: .1s;
            }
            button:hover{
                filter: brightness(.9);
            }
        }
    }
}

footer{
    border-top: 1px solid var(--link-color);
    p{
        text-align: center;
        padding: 20px;
        font-size: 16px;
        color: var(--text-color);
    }
}