* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.header {
    background-color: rgba(255, 255, 255, 0.7);
}

.container {
    max-width: 1300px;
    margin: 0px auto;
    padding: 0px 25px;
}

.header .container .navbar {
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 20px;
    gap: 20px;
}

.header .container .navbar a {
    text-decoration: none;
    color: #555;
}

.header .container .hero-section {
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .container .hero-section .hero-content-section {
    flex: 1;

    h1 {
        font-size: 50px;
        line-height: 60px;
        margin: 25px 0px;
    }

    p {
        color: #555;
    }

    img {
        width: 100%;
        padding: 50px 0;
    }
}

/* categories  */


/* common styling */
.small-container {
    max-width: 1080px;
    margin: 0 auto;
    padding: 0px 25px;
}

.categories {
    margin: 70px 0;
}

.categories .small-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.categories .small-container .col-3 {
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}

.categories .small-container .col-3 img {
    width: 100%;
}

/* featured products */

.featured-product {
    display: flex;
    flex-direction: column;

}

.featured-product .title {
    color: #555;
    line-height: 60px;
    margin-bottom: 80px;
    text-align: center;
    position: relative;
}

.featured-product .title::after {
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.featured-product .product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.featured-product .product-container .product-card {
    display: flex;
    flex-direction: column;
    flex-basis: calc(25% - 20px);
    min-width: 200px;
    padding: 10px;
    margin-bottom: 40px;
    cursor: pointer;
    transition: all .5s ease;

    .product-title {
        color: #555;
        margin-top: 10px;
    }

    .product-price {
        color: #555;
        font-size: 14px;
    }
}

.featured-product .product-container .product-card:hover {
    transform: translateY(-5px);
}


/* offer banner  */

.offer-banner {
    background-color: rgba(255, 255, 255, 0.7);
    margin-top: 80px;
    padding: 30px 0;
}

.offer-banner .small-container .banner-content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;

    .col-2 {
        flex-basis: 50%;
        min-width: 300px;

        img {
            width: 100%;
            padding: 50px;
        }

        p {
            color: #555;
        }

        h1 {
            font-size: 50px;
            line-height: 60px;
            margin: 25px 0;
        }

        small {
            color: #555;
        }

        .btn {
            display: inline-block;
            background: #ff523b;
            color: #fff;
            padding: 8px 30px;
            margin: 30px 0;
            border-radius: 30px;
            cursor: pointer;
            transition: all 0.5s;
        }

        .btn:hover {
            background: #563434;
        }

    }
}

/* testimonial section  */

.testimonial {
    padding-top: 100px;
}

.testimonial .small-container .testimonial-cards {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;

}

.testimonial .small-container .testimonial-cards .card {
    text-align: center;
    padding: 40px 20px 40px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
    transition: transform 0.5s;

    p {
        font-size: 12px;
        margin: 12px 0px;
        color: #777;
    }

    .rating img {
        margin-top: 20px;
    }

    .profile-img {
        width: 50px;
        margin-top: 20px;
        border-radius: 50%;
    }

    h3 {
        font-weight: 600;
        color: #555;
        font-size: 16px;
    }
}

.testimonial .small-container .testimonial-cards .card:hover {
    transform: translateY(-10px);
}

/* brands  */
.brands {
    margin: 100px auto;
}

.brands .small-container .brand-items {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.brands .small-container .brand-items .brand-item {
    width: 160px;

    img {
        cursor: pointer;
        width: 100%;
        cursor: pointer;
        filter: grayscale(100%);
    }

    img:hover {
        filter: grayscale(0%);
    }
}

/* footer  */
.footer {
    background: #222831;
    color: #eeeeee;
    font-size: 14px;
    padding: 60px 0 20px;
}

.footer .container {
    background-color: transparent;
}

/* common h3 styling  */
.footer h3 {
    color: #ff523b;
    margin-bottom: 20px;
    font-weight: 500;
}

.footer p {
    counter-reset: #eeeeee;
}

.footer li {
    display: block;
    margin-bottom: 10px;
    transition: color 0.3s ease;
    cursor: pointer;
}

.footer li:hover {
    color: #ff523b;
}

.footer .container .footer-content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;

    .footer-col-1,
    .footer-col-2,
    .footer-col-3 {
        min-width: 250px;
        margin-bottom: 20px;
    }
}

.footer .container .footer-content .footer-col-1 {
    flex-basis: 30%;
}

.footer .container .footer-content .footer-col-2 {
    flex: 1;
    text-align: center;
}

.footer .container .footer-content .footer-col-3 {
    flex-basis: 12%;
    text-align: center;
}

.footer .container .footer-content .footer-col-1 .app-logo {
    margin-top: 20px;
}

.footer .container .footer-content .footer-col-1 .app-logo img {
    width: 140px;
    filter: brightness(1.1);
    margin: 5px 0;
}

/* product page styling  */

a {
    text-decoration: none;
    color: #555;
}

.small-container .product-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.small-container .product-row .product-card {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;

    img {
        width: 100%;
    }

    .rating img {
        width: unset;
    }

    .product-title {
        color: #555;
    }

    .product-price {
        color: #555;
        font-size: 14px;
    }
}

.small-container .product-row .product-card {
    transform: translateY(-5px);
}

.small-container .row-2 {
    justify-content: space-between;
    margin: 100px auto 50px;
}

.small-container .row-2 select {
    border: 1px solid #ff523b;
    padding: 5px;
    outline: none;
}



.small-container .page-btn {
    margin: 0 auto 80px;
}

.small-container .page-btn span {
    display: inline-block;
    border: 1px solid #ff523b;
    margin-left: 10px;
    margin-bottom: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}

.small-container .page-btn span:hover {
    background: #ff523b;
    color: #fff;
}




/* product details page styling  */

.product-details {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.single-product .product-item {
    padding: 20px;
    flex-basis: 1;
    min-width: 300px;

    p {
        color: #555;
    }

    h1 {
        font-size: 50px;
        line-height: 60px;
        margin: 25px 0;
    }

    h4 {
        margin: 20px 0;
        font-size: 22px;
        font-weight: bold;
        color: #555;
    }
}

.single-product select {
    display: block;
    padding: 10px;
    margin-top: 20px;
    border: 1px solid #ff523b;
    outline: none;
}

.single-product input {
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #ff523b;
}

.single-product .btn {
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}

.single-product .btn:hover {
    background: #563434;
}

.single-product .product-item img {
    max-width: 100%;
}

.single-product .product-item .small-img-row {
    display: flex;
    justify-content: space-between;

    .small-img-col {
        flex-basis: 24%;
        cursor: pointer;
    }
}


/* cart section styling  */

.cart-page {
    margin: 80px auto;
}

.cart-page table {
    width: 100%;
    border-collapse: collapse;
}

table th {
    text-align: left;
    padding: 5px;
    color: #fff;
    background: #ff523b;
    font-weight: normal;
}

table th:last-child {
    text-align: right;

}

table td {
    padding: 10px 5px;
}

table td:last-child {
    text-align: right;
}

table td .cart-info {
    display: flex;
    flex-wrap: wrap;

    p,
    small {
        color: #555;
    }
}

table td .cart-info img {
    width: 80px;
    height: 80px;
    margin-right: 10px;

}

table td a {
    color: #ff523b;
    font-size: 12px;
}

table td input {
    width: 40px;
    height: 30px;
    padding: 5px;
}

.total-price {
    display: flex;
    justify-content: flex-end;
}

.total-price table {
    border-top: 3px solid #ff523b;
    width: 100%;
    max-width: 350px;
}

.total-price .btn {
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background .5s;
}

.total-price .btn:hover {
    background: #563434;
}


/* responsive styling  */

@media only screen and (max-width: 600px) {
    .header .container .hero-section {
        flex-direction: column;
        text-align: center;
    }

    .categories .small-container .col-3 {
        flex-basis: 100%;
    }

    .featured-product .product-container .product-card {
        flex-basis: 100%;
        margin-bottom: 20px;
        text-align: center;
    }

    .offer-banner .small-container .banner-content {
        flex-direction: column;
        text-align: center;

    }

    .offer-banner .small-container .banner-content .col-2 img {
        padding: 30px;
    }

    .offer-banner .small-container .banner-content .col-2 h1 {
        font-size: 38px;
        margin: 10px auto;
    }
    .testimonial .small-container .testimonial-cards .card{
        flex-basis: 100%;
    }
    .footer .container .footer-content{
        flex-direction: column;
        text-align: center;
    }


    /* product page  */

    .small-container .product-row .product-card {
        flex-basis: 100%;
        margin-bottom: 20px;
        text-align: center;
    }

    /* product details page  */
    .small-container .product-details .product-item h1{
        font-size: 36px;
        line-height: 1.2;
        margin: 15px 0;
    }
}