/* Animations */

/* Stars */
/* Define keyframes for twinkling effect */
@keyframes twinkle {
    0%, 100% {
        opacity: 0.3;
    }
    50%{
        opacity: 1;
    }
}
/* Planets */
/* Define keyframes for planet movements */
@keyframes float {
    0%, 100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-40px);
    }
}
/* Rocket */
/* Define keyframes for rocket movements */
@keyframes rocketFly {
    0% {
        transform: translateY(0) rotate(180deg);
        bottom: -120px;
    }20%{
        transform: translateY(-20vh) rotate(180deg);
    }30%{
        transform: translateY(-40vh) rotate(180deg);
    }
    40%{
        transform: translateY(-60vh) rotate(180deg);
    }
    45%{
        transform: translateY(-70vh) rotate(180deg);
    }
    50%{
        transform: translateY(-80vh) rotate(270deg);
    }
    55%{
        transform: translateY(-80vh) translateX(10vw) rotate(270deg);
    }
    60%{
        transform: translateY(-80vh) translateX(20vw) rotate(270deg);
    }
    70%{
        transform: translateY(-80vh) translateX(40vw) rotate(270deg);
    }
    80%{
        transform: translateY(-80vh) translateX(60vw) rotate(270deg);
    }
    90%{
        transform: translateY(-80vh) translateX(80vw) rotate(270deg);
    }
    100%{
        transform: translateY(-80vh) translateX(120vw) rotate(270deg);
    }

}
/* Rocket Flame */
/* Define keyframes for rocket flame */
@keyframes flame{
    0%{
        height: 30px;
        transform: scaleY(0.8);
    }
    100%{
        height: 40px;
        transform: scaleY(1);
    }
}

/* Alien */
/* Define keyframes for alien movements */
@keyframes alienFly {
    0% {
        transform: translateX(0);
        right: -50px;
    }
    100%{
        transform: translateX(-105vw);
    }
}
/* UFO */
/* Define keyframes for UFO movements */
@keyframes ufoMove{
    0%{
        transform: translateX(-50%) translateY(0);
    }
    25%{
        transform: translateX(-30vw) translateY(20vh);
    }
    50%{
        transform: translateX(0) translateY(40vh);
    }
    75%{
        transform: translateX(30vw) translateY( 20vh);
    }
    100%{
        transform: translateX(-50%) translateY(0);
    }
}
/* UFO Beam */
/* Define keyframes for UFO beam */
@keyframes ufoLight{
    0%, 100%{
        opacity: 0.3;
    }
    50%{
        opacity: 0.8;
    }
}
/* Meteor */
/* Define keyframes for meteor movements */

@keyframes meteorFall {
    0% {
        transform: translateX(0) translateY(0);
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100% {
        transform: translateX(-300px) translateY(300px);
        opacity: 0;
    }
}