body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0;
  margin: 0;
}

.animated-box {
  width: 100px;
  height: 100px;
  background-color: #3498db;
  border-radius: 10px;
  /* Define the animation property here */
  animation: combined-animation 6s infinite linear;
}

/* Define keyframes here */

@keyframes combined-animation {
    0% {
        transform: translateX(-100px) rotate(0deg) scale(1);
    }
    25% {

    transform: translateX(0px) rotate(90deg) scale(1.5);

  }

  50% {

    transform: translateX(100px) rotate(180deg) scale(1);

  }

  75% {

    transform: translateX(0px) rotate(270deg) scale(0.5);

  }

  100% {

    transform: translateX(-100px) rotate(360deg) scale(1);

  }
}