#gallery{
    display: grid;
    grid-template-columns: repeat(4, 1fr) 2fr 1fr 1fr;
    gap: 0.5rem;
}

img { 
    width: 100%;
    height: 100%;
}
.fourXfour-img{
    grid-row: 1 / 3;
    grid-column: 1 / 3;
}
.fourXfour-img-2{
    grid-row: 2 / 4;
    grid-column: 3 / 5;
}

.last-col-img{
    grid-row: 1 / 4;
    grid-column: 5 / 6;
}

.twoXtwo-img1{
    grid-row: 4 / 6;
    grid-column: 1/ 3;
}
.twoXtwo-img2{
    grid-row: 4 / 6;
    grid-column: 3/ 5;
}
.twoXtwo-img3{
    grid-row: 4 / 6;
    grid-column: 5/ 8;
}
.img1{
    object-fit: cover;
    grid-row: 1/4;
}
.img2{
    object-fit: cover;
    grid-row: 1/2;
}
.img2{
    object-fit: cover;
    grid-row: 2/3;
}